{% extends 'base.html.twig' %}

{% block title %}Hello QueteController!{% endblock %}

{% block body %}
<div class="container">
	{% if quete == 0 %}
	   <div class="aos-item" id="tutoDiv1" data-aos="fade-right" >
			<p>Ho Bonjour, Vous tombez a pic, il se trouve que j'ai un probleme avec une enigme.<br>
			Pouvez vous m'aider a la résoudre je vous ?</p>
			<img src="{{ asset('img/layton1.png') }}" alt="layton" width="234" height="490">
			<button id="tutobtn">Aider à résoudre l'enigme</button>
		</div>
		<div class="aos-item" id="tutoDiv2" style="display: none;" data-aos="fade-right" >
			<p>Merci de m'avoir aider a resoudre l'énigme !<br>
			Voici une récomponse pour m'avoir aidé. <b>Tu recois 10 pieces</b></p>
			<img src="{{ asset('img/layton4.png') }}" alt="layton" width="245" height="490">
			 
		</div>
	{% else %}
		<div class="aos-item" id="tutoDiv" data-aos="fade-right" >
			<p>Ha te voila de nouveau ! Voudrais tu m'aider a resoudre d'autre enigme ? </p>
			<img src="{{ asset('img/layton3.png') }}" alt="layton" width="234" height="490">
			<button id="enigmeFclbtn" class="swal2-confirm btn btn-success">Facile</button>
			<button id="enigmeMoynbtn" class="swal2-confirm btn btn-warning">Moyenne</button>
			<button id="enigmeDflbtn" class="swal2-confirm btn btn-danger">Dificile</button>
		</div>

		
	{% endif %}
	

</div>

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="sweetalert2.all.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	 {% if quete == 0 %}
	  <script>
		AOS.init();
		document.getElementById('tutobtn').addEventListener('click', function() {   
			Swal.fire({
				title: 'Quel est le bon hotel ?',
				imageUrl: '{{ asset('img/enigme1.png') }}',
				showConfirmButton: false,
				html: `
					<button id="btnA" class="swal2-confirm btn btn-primary">A</button>
					<button id="btnB" class="swal2-confirm btn btn-success">B</button>
					<button id="btnC" class="swal2-confirm btn btn-warning">C</button>
					<button id="btnD" class="swal2-confirm btn btn-danger">D</button>
				`,
			  
			})

			document.getElementById('btnA').addEventListener('click', function() {
				Swal.fire('Faux', 'Désolé mais malheursement ce n\' est pas pas l\'hotel', 'error');
			});

			document.getElementById('btnB').addEventListener('click', function() {
				Swal.fire('FauxB', 'Désolé mais malheursement ce n\'est pas pas l\'hotel', 'error');
			});

			document.getElementById('btnC').addEventListener('click', function() {
				Swal.fire({
					title:'Bien joué',
					text: 'Bravo vous avez bien vue les lettre H O T E L cachées sur dans la facade du batiment.',
					icon: 'success',
					showConfirmButton: false,
					html: `
						<form action="{{ path('requete_sql') }}" method="POST">
							<button type="submit" class="swal2-confirm btn btn-primary">De rien </button>
						</form>
				`,
				});
				document.getElementById('tutoDiv1').style.display = 'none';
				document.getElementById('tutoDiv2').style.display = 'block';
				AOS.init();
				
			});

			document.getElementById('btnD').addEventListener('click', function() {
				Swal.fire('Faux', 'Désolé mais malheursement ce n\'est pas pas l\'hotel', 'error');
			});
		});

	</script>
	{% else %}
		<script>
		AOS.init();
		document.getElementById('enigmeFclbtn').addEventListener('click', function() {
			var xhr = new XMLHttpRequest();
			xhr.open('GET', '{{path('app_random', {'difficulte': '_difficulte'}) }}'.replace('_difficulte', 1), true);
  			xhr.onload = function() {
    			// Vérifier le statut de la réponse
    			if (xhr.status === 200) {
    			  	// La requête a été réussie, faire quelque chose avec la réponse
    			  	console.log(xhr.responseText);
					//si enigme[0].img != null Swal fire avec image sinon sans image
    			} else {
    			  // La requête a échoué, gérer l'erreur
    			  console.error('Erreur lors de la requête.');
    			}
  			};
  			xhr.send();
		});
	</script>

		
	{% endif %}
	
	
{% endblock %}
{% endblock %}
