{% extends 'base.html.twig' %}

{% block title %}Gestion comptes{% endblock %}

{% block body %}
<div class="container mt-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nom du Compte</th>
        <th scope="col">Prenom du Compte</th>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for compte in comptes %}
        <tr>
          <td>{{ compte.nom }}</td>
          <td>{{ compte.prenom }}</td>
          <td>{{ compte.id }}</td>
          <td>{{ compte.email }}</td>
          <td>
              <div class="d-flex justify-content-between">
                <form method="POST" action="{{ path('profil') }}">
                  <input type="hidden" name="id" value="{{ compte.id }}">
                  <input type="hidden" name="action" value="see">
                  <button type="submit" class="btn btn-info">Voir</button>
                </form>
                <button type="button" class="btn btn-warning" onclick="window.location.href='{{ path('profil_update', {'id': compte.id}) }}'">Modifier</button>
                <button type="button" class="btn btn-danger" onclick="if (confirm('Voulez-vous vraiment supprimer ce compte ?')) { window.location.href='{{ path('profil_delete', {'id': compte.id}) }}' }">Supprimer</button>
              </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
