{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class = "container mt-4">
        <h1 class = "text-center">Bienvenue sur ItemBay</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          {% for item in items %}
            <div class="col">
              <div class="card shadow-sm">
                <img src="{{ item.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">{{item.nom}}</h5>
                  <p class="card-text text-center">{{item.description}}</p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between">
                  <form method="POST" action="{{ path('item') }}">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <input type="hidden" name="action" value="buy">
                    <button type="submit" class="btn btn-primary">Acheter</button>
                  </form>
                  <!-- On doit vérifier dans la session cart si jamais l'item n'est pas présent -->
                  {% if app.session.get('cart') is defined and app.session.get('cart') is not null %}
                    {% set cart = app.session.get('cart') %}
                    {% set itemInCart = false %}
                    {% for itemCart in cart %}
                      {% if itemCart.id == item.id %}
                        {% set itemInCart = true %}
                      {% endif %}
                    {% endfor %}
                    {% if itemInCart == false %}
                      <form method="POST" action="{{ path('item') }}">
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <input type="hidden" name="action" value="addToCart">
                        <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                      </form>
                    {% endif %}
                    {% if itemInCart == true %}
                      <form method="POST" action="{{ path('app_panier') }}">
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="from" value="home">
                        <button type="submit" class="btn btn-danger">Retirer du panier</button>
                      </form>
                    {% endif %}
                  {% else %}
                    <form method="POST" action="{{ path('item') }}">
                      <input type="hidden" name="id" value="{{ item.id }}">
                      <input type="hidden" name="action" value="addToCart">
                      <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                    </form>
                  {% endif %}
                  <form method="POST" action="{{ path('item') }}">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <input type="hidden" name="action" value="see">
                    <button type="submit" class="btn btn-primary">Voir</button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        
    </div>
{% endblock %}