{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block nav %}
  <nav class="col-md-3 col-lg-2 col-sm-1 d-md-block bg-light sidebar collapse">
    <div class="position-sticky sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
              <form method="POST" action="{{ path('app_items_type') }}">
                <select class="form-select"  name='type' aria-label="Default select example">
                  {% for typeItem in typeItems %}
                      {% if typeSelect is defined and typeItem.id == typeSelect %}
                          <option value="{{ typeItem.id }}" selected>{{ typeItem.nomTypeItem }}</option>
                      {% else %}
                          <option value="{{ typeItem.id }}">{{ typeItem.nomTypeItem }}</option>
                      {% endif %}
                  {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Filtrer</button>
              </form>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
{% block body %}
    <div class = "container mt-4">
        <h1 class = "text-center">Bienvenue sur ItemBay</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          {% for item in items %}
            <div class="col">
              <div class="card shadow-sm">
                {% if item.url is not defined or item.url is null %}
                  { set item.url = 'Defaut.png' }
                {% endif %}
                <img src="/images/items/{{ item.url }}" class="card-img-top" alt="Image de l'item" style="max-height: 400px; max-width: 400px;">
                <div class="card-body">
                  <img src="/img/{{ item.typeItem.icon }}"alt="Image de l'item" style="max-height: 40px; max-width: 40px;">
                  <h5 class="card-title text-center">{{item.nom}}</h5>
                  <p class="card-text text-center">{{item.description}} - Prix : {{item.prix}}</p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between">
                  {% if app.user %}
                  <!-- On doit vérifier dans la session cart si jamais l'item n'est pas présent -->
                  {% if app.session.get('cart') is defined and app.session.get('cart') is not null %}
                    {% set cart = app.session.get('cart') %}
                    {% set itemInCart = false %}
                    {% for itemCart in cart %}
                      {% if itemCart.id == item.id %}
                        {% set itemInCart = true %}
                      {% endif %}
                    {% endfor %}
                    {% if itemInCart == false %}
                      <form method="POST" action="{{ path('item') }}">
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <input type="hidden" name="action" value="addToCart">
                        <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                      </form>
                    {% endif %}
                    {% if itemInCart == true %}
                      <form method="POST" action="{{ path('app_panier') }}">
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="from" value="home">
                        <button type="submit" class="btn btn-danger">Retirer du panier</button>
                      </form>
                    {% endif %}
                  {% else %}
                    <form method="POST" action="{{ path('item') }}">
                      <input type="hidden" name="id" value="{{ item.id }}">
                      <input type="hidden" name="action" value="addToCart">
                      <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                    </form>
                  {% endif %}
                  {% endif %}
                  <form method="POST" action="{{ path('item') }}">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <input type="hidden" name="action" value="see">
                    <button type="submit" class="btn btn-primary">Voir</button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        
    </div>
{% endblock %}