{% extends 'base.html.twig' %}

{% block title %}Hello GestBoutiqueController!{% endblock %}

{% block body %}
<div class="container mt-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nom de l'item</th>
        <th scope="col">Description</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.nom }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.qte }}</td> 
          <td>{{ item.qte }}</td>  <!-- placeholder du prix   -->
          <td>
            <button class="btn btn-danger" onclick="deleteItem({{ item.id }})">Supprimer</button>
            <button class="btn btn-primary" onclick="editItem({{ item.id }})">Modifier</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
