{% extends 'base.html.twig' %}

{% block title %}Gestion boutique{% endblock %}

{% block body %}
<div class="container mt-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nom de l'item</th>
        <th scope="col">Description</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.nom }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.qte }}</td> 
          <td>{{ item.qte }}</td>  <!-- placeholder du prix   -->
          <td>
            <div class="d-flex justify-content-between">
              <form method="POST" action="{{ path('item') }}">
                <input type="hidden" name="id" value="{{ item.id }}">
                <input type="hidden" name="action" value="update">
                <button type="submit" class="btn btn-warning">Modifier</button>
              </form>
              <form method="POST" action="{{ path('item') }}">
                <input type="hidden" name="id" value="{{ item.id }}">
                <input type="hidden" name="action" value="delete">
                <button type="submit" class="btn btn-danger">Supprimer</button>
              </form>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
