{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class = "container mt-4">
        <div class="jumbotron">
            {% if user.photo is null %}
                <img src="{{ asset('/images/utilisateurs/default.png') }}" alt="mdo" class="rounded-circle" width="128  " height="128">
            {% else %}
                <img src="{{ asset('/images/utilisateurs/' ~ user.photo) }}" alt="mdo" class="rounded-circle" width="128  " height="128">
            {% endif %}
        </div>

        <section>
            <h3>Informations personnelles</h3>
            <ul>
                {% if app.user %}
                    <li>Nom : {{ user.nom }}</li>
                    <li>Prénom : {{ user.prenom }}</li>
                    <li>Email : {{ user.email }}</li>
                    <li>Argent :  {{ user.monnaie }}</li>
                {% endif %}
            </ul>
        </section>

        <button type="button" class="btn btn-warning" onclick="window.location.href='{{ path('profil_update', {'id': user.id}) }}'">Modifier mes informations</button>

</div>
{% endblock %}
